# **UK Land Registry**
### Author: Arvind Saigal

### _**About the script**_    
#### 1. **Increase the know-how of data**
#### 2. **Find correlation between various attributes**

In [ ]:
import os # Operating System
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab as pl
import datetime as dt # Datetime
%matplotlib inline

In [ ]:
# Set the present working directory
os.chdir("/resources/data/UK Land Registry")

#### **Source of dataset: http://landregistry.data.gov.uk/**

For explanations of column headers in the PPD, please refer: - https://www.gov.uk/guidance/about-the-price-paid-data#explanations-of-column-headers-in-the-ppd

In [ ]:
# Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("Price_Paid_Data_201811.csv")

# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [ ]:
# Format the date column
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2018
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2018].index, inplace=True)

In [10]:
df_ppd.describe()

              Price
count  1.072550e+05
mean   3.375724e+05
std    1.541300e+06
min    8.500000e+01
25%    1.489500e+05
50%    2.309950e+05
75%    3.550000e+05
max    2.550000e+08

#### **Group by Property Type**

In [ ]:
df_grp_proptyp = df_ppd.groupby(['Prop_Type']).size().reset_index()
df_grp_proptyp

In [ ]:
df_ppd['Prop_Type'].value_counts().plot(kind='bar')

In [7]:
df_grp_oldnew = df_ppd.groupby(['Old_New']).size().reset_index()
df_grp_oldnew

  Old_New      0
0       N  91597
1       Y  15658

In [9]:
df_grp_price = df_ppd.groupby(['Prop_Type'])['Price'].median().reset_index() # be noted that MEDIAN has been used instead of MEAN
df_grp_price

  Prop_Type   Price
0         D  330000
1         F  215000
2         O  215000
3         S  209950
4         T  179000

In [8]:
df_grp_price1 = df_ppd.groupby(['Prop_Type'])['Price'].mean().reset_index() # be noted that MEDIAN has been used instead of MEAN
df_grp_price1

  Prop_Type          Price
0         D  401443.866908
1         F  319717.236459
2         O  992018.545025
3         S  250173.129733
4         T  236751.936943

In [ ]:
plt.bar(df_grp_price.Prop_Type, df_grp_price.Price, width=0.2, color='green')
plt.xlabel("Property Type")
plt.ylabel("Price")
plt.show()

In [ ]:
def datFramPropTypeInTown(PropTyp, TownCity):
    # Create the dataframe for a specific property type in a given Town/ City
    wrk_df = df_ppd[((df_ppd['Prop_Type'] == PropTyp) & (df_ppd['Town_City'] == TownCity))]
    # Find average price of the property for each street
    df_proptyp_twcty = wrk_df.groupby(['Street'])['Price'].mean().reset_index()
    # Return the dataframe
    return df_proptyp_twcty

In [ ]:
def plotSct(df):
    plt.figure(figsize=(15, 8), dpi=60)
    plt.scatter(df.Street, df.Price, color='blue')
    plt.xlabel("Street")
    plt.ylabel("Price")
    plt.show()

### **Looking into different property types in London**

In [ ]:
plotSct(datFramPropTypeInTown('D','LONDON'))
plotSct(datFramPropTypeInTown('F','LONDON'))
plotSct(datFramPropTypeInTown('O','LONDON'))